    <!DOCTYPE html>
    <html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <ul>
            <% bandas.forEach(function(banda) { %>
                <li>
                    <h3><%= banda.nombre %></h3>
                </li>
            <% }) %>
        </ul>


        

        </div>
    </body>
    </html>
    